/* Error: unmatched "}".
 *    ,
 * 96 | }
 *    | ^
 *    '
 *   sass\components\header.scss 96:1  @import
 *   sass\main.scss 8:9                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: unmatched "}".\a    \2577 \a 96 \2502  }\d\a    \2502  ^\a    \2575 \a   sass\\components\\header.scss 96:1  @import\a   sass\\main.scss 8:9                root stylesheet';
}
