header{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header-logo{
        width: 60vw;
        margin-left: 2vw;
    }
    .toggle-show{
        background: linear-gradient(256.2deg, #251A6B -0.93%, #0A081F 99.74%);
        background-repeat: no-repeat;
        background-size: cover;
        width: 100vw;
        height: 100vh;
        box-sizing: border-box;
        margin: 0;
        position: fixed;
        z-index: 999;
        .toggle-menu{
            // height: 100%;
            background-color: #305DFF;
            width: 16vw;
            height: 15vw;
            display: flex;
            align-items: center;
            justify-content: center;
            .svg-toggle{
                width: 50%;
                height: auto;
            }
        }
    }
}