header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .header-logo{
        width: 60vw;
        margin-left: 2vw;
    }
    .toggle-menu{
        // height: 100%;
        background-color: #305DFF;
        width: 16vw;
        height: 15vw;
        display: flex;
        align-items: center;
        justify-content: center;
        .svg-toggle{
            width: 50%;
            height: auto;
        }
    }
    .toggle-show{
        background: $main-background;
        z-index: 999;
        position: fixed;
        margin: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
                margin-bottom: 12vw;
                a{
                text-decoration: none;
                color: white;
                font-size: 3.5rem;
                @include goodtimes-200;
                }
            }
        }
        .toggle-menu2{
            background-color: #305DFF;
            width: 16vw;
            height: 15vw;
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            .svg-toggle2{
                width: 50%;
                height: auto;
            }
        }
    }
}
