@font-face {
    font-family: 'good_times_el';
    src: url('fonts/good_times_el-webfont.woff2') format('woff2'),
         url('fonts/good_times_el-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'good_times_rg';
    src: url('fonts/good_times_rg-webfont.woff2') format('woff2'),
         url('fonts/good_times_rg-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}