.accroche{
    h2{
        color: white;
        @include goodtimes-600;
        position: relative;
        left: 5vw;
        top: 8vw;
    }
    .jsp420{
        #img-acrr{
            width: 50%;
            height: auto;
            border-radius: 23.7838px 0px 23.7838px 23.7838px;
            position: relative;
            top: 8vw;
            left: 5vw;
        }
    }
}