.accroche{
    h2{
        color: white;
        font-family: "Good Times";
        font-weight: 600;
        position: relative;
        left: 3vw;
        top: 8vw;
        font-size: 1.6rem;
    }
    .jsp420{
        width: 100%;
        border: none;
        #img-acrr{
            width: 50%;
            height: auto;
            border-radius: 23.7838px 0px 23.7838px 23.7838px;
            position: relative;
            left: 3vw;
            top: 4vh;
        }
    }
}